{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container-fluid without-margins">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'komitets:main' %}">Komitet</a>
            <a href="{% url 'komitets:create-komitet' %}" class="btn btn-success ml-auto mr-3 btn-sm"><i
                    class="fas fa-plus"></i>
                Add Komitet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mr-5">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="komitets-list">
                {% for kom in komitets %}
                    {% if kom.id == komitet.id %}
                        <a href="{% url 'komitets:komitet-detail' pk=komitet.id %}" class="active-komitet"><img
                                {% if kom.image %}
                                    src="/media/{{ kom.image }}"
                                {% else %}
                                    src="http://via.placeholder.com/50?text={{ kom.title|make_list|slice:':2'|join:''|upper }}"
                                {% endif %}
                                    class="rounded-circle mb-1 mt-1 small-photo" alt=""></a>
                    {% else %}
                        <a href="{% url 'komitets:komitet-detail' pk=kom.id %}"><img
                                {% if kom.image %}
                                    src="/media/{{ kom.image }}"
                                {% else %}
                                    src="http://via.placeholder.com/50?text={{ kom.title|make_list|slice:':2'|join:''|upper }}"
                                {% endif %}
                                    class="rounded-circle mb-1 mt-1 small-photo" alt=""></a>

                    {% endif %}

                {% endfor %}
            </div>
            <div class="komitet-users col-2">
                {% block komitet-users %}
                    {% for usr in users %}
                        <a href="#" class="row">
                            <img
                                    {% if usr.photo %}
                                        src="{{ MEDIA_URL }}/media/{{ usr.photo }}"
                                    {% else %}
                                        src="http://via.placeholder.com/50?text={{ usr.get_name|make_list|slice:':2'|join:''|upper }}"
                                    {% endif %}
                                        class="rounded-circle ml-2 mb-1 mt-1 small-photo" alt="">
                            <div class="centered-username ml-2">
                                {{ usr.get_name }}{% if usr in admins %}<i class="fas fa-star"></i>{% endif %}</div>
                        </a>
                    {% endfor %}
                {% endblock %}
            </div>

            <div class="komitet-main col-5">
                {% block komitet-detail %}
                    <div class="mt-5 ml-5"><h2><i class="fas fa-angle-left"></i> Choose Komitet</h2></div>
                {% endblock %}
                {#            <div class="komitet-head">#}
                {#            </div>#}
                {#            <div class="card mt-3 mb-2">#}
                {#                <div class="card-body">#}
                {#                    <h5 class="card-title">Title</h5>#}
                {#                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et exercitationem id#}
                {#                        ipsa perspiciatis, repellendus saepe? Error, hic quam? Accusantium aspernatur illum ipsum iste,#}
                {#                        labore nam placeat suscipit tempora unde voluptatem.</p>#}
                {#                    <form action="" method="post">#}
                {#                        <a href="#" class="btn btn-danger float-right"><i class="fas fa-times"></i> Decline</a>#}
                {#                        <a href="#" class="btn btn-success float-right mr-3"><i class="fas fa-check"></i> Accept</a>#}
                {#                    </form>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="card mt-2 mb-3">#}
                {#                <div class="card-body">#}
                {#                    <h5 class="card-title">Title</h5>#}
                {#                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et exercitationem id#}
                {#                        ipsa perspiciatis, repellendus saepe? Error, hic quam? Accusantium aspernatur illum ipsum iste,#}
                {#                        labore nam placeat suscipit tempora unde voluptatem.</p>#}
                {#                    <form action="" method="post">#}
                {#                        <a href="#" class="btn btn-primary float-right"><i class="far fa-credit-card"></i> Pay</a>#}
                {#                        <a href="#" class="btn btn-light float-right mr-3"><i class="fas fa-money-bill"></i> Pay#}
                {#                            cash</a>#}
                {#                    </form>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="card mt-2 mb-3">#}
                {#                <div class="card-body">#}
                {#                    <h5 class="card-title">Title</h5>#}
                {#                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et exercitationem id#}
                {#                        ipsa perspiciatis, repellendus saepe? Error, hic quam? Accusantium aspernatur illum ipsum iste,#}
                {#                        labore nam placeat suscipit tempora unde voluptatem.</p>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="card mt-2 mb-3">#}
                {#                <div class="card-body">#}
                {#                    <h5 class="card-title">Title</h5>#}
                {#                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et exercitationem id#}
                {#                        ipsa perspiciatis, repellendus saepe? Error, hic quam? Accusantium aspernatur illum ipsum iste,#}
                {#                        labore nam placeat suscipit tempora unde voluptatem.</p>#}
                {#                    <form action="" method="post">#}
                {#                        <div class="radio">#}
                {#                            <label><input type="radio" name="choice">Option 1</label>#}
                {#                        </div>#}
                {#                        <div class="radio">#}
                {#                            <label><input type="radio" name="choice">Option 2</label>#}
                {#                        </div>#}
                {#                        <div class="radio">#}
                {#                            <label><input type="radio" name="choice">Option 2</label>#}
                {#                        </div>#}
                {#                        <a href="#" class="btn btn-primary float-right mr-3"><i class="fas fa-check"></i> Vote</a>#}
                {#                    </form>#}
                {#                </div>#}
                {#            </div>#}
                {#            <div class="card mt-2 mb-5">#}
                {#                <div class="card-body">#}
                {#                    <h5 class="card-title">Title</h5>#}
                {#                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et exercitationem id#}
                {#                        ipsa perspiciatis, repellendus saepe? Error, hic quam? Accusantium aspernatur illum ipsum iste,#}
                {#                        labore nam placeat suscipit tempora unde voluptatem.</p>#}
                {#                    <form action="" method="post">#}
                {#                        <div class="radio">#}
                {#                            <label><input type="checkbox" name="check">Option 1</label>#}
                {#                        </div>#}
                {#                        <div class="radio">#}
                {#                            <label><input type="checkbox" name="check">Option 2</label>#}
                {#                        </div>#}
                {#                        <div class="radio">#}
                {#                            <label><input type="checkbox" name="check">Option 2</label>#}
                {#                        </div>#}
                {#                        <a href="#" class="btn btn-primary float-right mr-3"><i class="fas fa-check"></i> Vote</a>#}
                {#                    </form>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
